  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="device-container">
          <img class="img-responsive" src="assets/img/reno.png">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="header-content">
          <div class="header-content-inner">
            <h1>Feliz Navidad</h1>
            <h4>Hoy quiero decirte algo simple pero real: gracias por estar en mi vida. Por tu apoyo, tu tiempo y tu forma de hacer las cosas más lindas. Que tengas una noche preciosa. Con todo mi cariño, Marco. 🎄✨</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="audioembed">
    <audio controls="true" autoplay="true" src="assets/audio/audio.mp3" onloadeddata="setLowVolume()" id="audio1"></audio>
  </div>
